/*
 * Globals
 */

* {
    -webkit-overflow-scrolling: touch;
 }

 ::-webkit-scrollbar {
     width: 5px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     -webkit-border-radius: 10px;
     border-radius: 10px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     -webkit-border-radius: 10px;
     border-radius: 10px;
     background: rgba(255,255,255,0.7);
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
 }
 ::-webkit-scrollbar-thumb:window-inactive {
 	background: rgba(0,0,0,0.4);
 }

ul.a {
    list-style-type: circle;
    margin-bottom: 5px;
}

.card-trans {
    background-color:rgba(0, 0, 0, 0.5);
}

.cont-trans {
    background-color:rgba(0, 0, 0, 0.5);
}

.struc {
    max-width: 80em!important;
}

.exp {
    padding: 15px 15px 15px 15px;
}

.exp-header {
    margin-bottom: 10px;
}

.exp-cont {
    opacity: 0.65;
    font-size: 20px;
    margin-bottom: 0px;
}

.exp-sub {
    opacity: 0.675;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.divider {
  border-bottom: 2.6px solid rgba(255, 255, 255, 0.2);
  margin: 10px 2% 10px 2%!important;
  border-radius: 0.25rem;
}

#dl-btn {
    padding: 15px 15px 15px 15px;
    margin-bottom: 0;
    text-align: center;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

#main-pad {
    padding: 45px 10px 45px 10px;
}

#main-pad-exp {
    padding: 2% 2% 2% 2%;
    height: 85%;
    width: auto;
    margin: 5% 2% 5% 2%;
    text-align: left;
    border-radius: 0.25rem;
    white-space: normal;
    overflow: auto;
}

html,
body,
#shade-box {
  width: 100%;
  height: 100%;
}

#shade-box {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: -ms-flexbox;
  position: fixed;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 15rem rgba(0, 0, 0, 1);
  overflow: auto;
}

.cover-container {
  max-width: 42em;
}

.cover-heading {
    padding: 15px 10px 15px 10px;
}

.lead {
    padding: 15px 10px 15px 10px;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
    margin-left: 2%;
  }
  .nav-masthead {
    float: right;
    margin-right: 2%;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
