{% extends "bootstrap/base.html" %}


{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">

    <title>Aditya Prasad - Experience</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
{% endblock %}


{% block body_attribs %}
    class="text-center"
{% endblock %}


{% block body %}
  <div id="shade-box">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column struc">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><a href="/" style="text-decoration: none">Aditya Prasad</a></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="/experience/">Experience</a>
            <a class="nav-link" href="/projects">Projects</a>
            <a class="nav-link" href="/bio/">About Me</a>
          </nav>
        </div>
      </header>

      <main role="main" id="main-pad-exp" class="cont-trans">
          <p class="lead" id="dl-btn">
              <a href="../static/misc/AdityaPrasad_Resume_2018.pdf" download="AdityaPrasad_Resumé" class="btn btn-lg btn-secondary">Download resumé</a>
          </p>

          <p class="divider"></p>

          <div class="exp">
              <h3 class="exp-header">Education</h3>
              <div class="exp-cont">
                  <b>The University of Texas at Austin |</b> <i>Austin, TX</i>
                  <br>
                  Bachelor of Science - Computer Science
                  <br>
                  College of Natural Sciences
                  <br>
                  <span class="exp-sub">August 2015 - May 2019</span>
              </div>
              <br>
              <div class="exp-cont">
                  <b>Bellaire High School |</b> <i>Bellaire, TX</i>
                  <br>
                  Class Rank: Salutatorian (2nd out of 711)
                  <br>
        		  International Baccalaureate (IB) Diploma Holder
                  <br>
                  <span class="exp-sub">August 2011 - June 2015</span>
              </div>
          </div>

          <p class="divider"></p>

          <div class="exp">
              <h3 class="exp-header">Experience</h3>
              <div class="exp-cont">
                  <b>Delphix</b> - Java Stack Engineering Intern <b>|</b> <i>San Francisco, CA </i>
                  <br>
                  <span class="exp-sub">May 2018 - Present</span>
                  <ul class="a">
                      <li>Member of the Delphix Jetstream Team, which develops and manages the database version control platform for Delphix clients.</li>
                  </ul>
              </div>
              <br>
              <div class="exp-cont">
                  <b>Esurance</b> - SDET Intern <b>|</b> <i>San Francisco, CA </i>
                  <br>
                  <span class="exp-sub">July 2017 - August 2017</span>
                  <ul class="a">
                      <li>As member of the “Software Development Engineering in Test” (SDET) Scrum team, was responsible for maintaining the testing frameworks for the front and back ends of Esurance’s application.</li>
                      <li>Refactored section of frontend test framework to make testing patterns more declarative and readable.</li>
                      <li>Wrote automated browser tests with Selenium API to test insurance policy purchase, saving, and retrieval.</li>
                      <li>Manually logged, tested, and tracked down bugs using iOS, Mac OS, Android, and Windows devices.</li>
                      <li>Performed regression testing prior to each major and minor release of Esurance’s web application.</li>
                  </ul>
              </div>
              <br>
              <div class="exp-cont">
                  <b>Securus Technologies</b> - Technology Intern <b>|</b> <i>Houston, TX </i>
                  <br>
                  <span class="exp-sub">June 2016 - August 2016</span>
                  <ul class="a">
                      <li>Developed automated browser tests using Selenium API and C# to efficiently test three web applications’ UI and functionality.</li>
                      <li>Investigated benefits of Selenium versus other testing frameworks to determine best fit for engineering team’s needs.</li>
                      <li>Presented research findings to Vice President of Software, Director of Quality Assurance, and QA team.</li>
                      <li>Presented my program scripts to VP of Software and software engineering team.</li>
                      <li>Gained experience with Agile methodology by participating in daily scrums and weekly meetings.</li>
                      <li>Collaborated with Director of Quality Assurance to ensure information from user databases was being properly uploaded to the web applications for customer use.</li>
                      <li>Researched conversion of web applications from ASP.NET framework to Node.js and presented findings to the software engineering team.</li>
                  </ul>
              </div>
          </div>

          <p class="divider"></p>

          <div class="exp">
              <h3 class="exp-header">Technical Skills</h3>
              <div class="exp-cont">
                  <ul class="a">
                      <li><b>Proficient</b>: Java, C, C++, C#, Python, SQL, HTML, CSS</li>
                      <li><b>Working Knowledge</b>: JavaScript, Scala, Android Development</li>
                      <li><a href="/projects/"><u>Relevant projects</u>.</a></li>
                  </ul>
              </div>
          </div>

          <p class="divider"></p>

          <div class="exp">
              <h3 class="exp-header">Relevant Coursework</h3>
              <div class="exp-cont">
                  <ul class="a">
                      <li>CS 429  - Computer Organization & Architecture</li>
                      <li>CS 439  - Principles of Computer Systems</li>
                      <li>CS 311  - Discrete Mathematics for Computer Science</li>
                      <li>CS 314  - Data Structures</li>
                      <li>CS 331  - Algorithms and Complexity</li>
                      <li>CS 345  - Programming Languages</li>
                      <li>CS 347  - Database Management</li>
                      <li>CS 356  - Computer Networks</li>
                      <li>CS 371p - Object-Oriented Programming</li>
                      <li>CS 373  - Software Engineering</li>
                  </ul>
              </div>
          </div>

          <p class="divider"></p>

          <div class="exp">
              <h3 class="exp-header">Organizations</h3>
              <div class="exp-cont">
                  <ul class="a">
                      <li>Association for Computing Machinery, UT Student Chapter - Member</li>
                      <li>Omega Phi Gamma Fraternity - Web Master</li>
                  </ul>
              </div>
          </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Website designed by Aditya Prasad with <a href="https://pythonhosted.org/Flask-Bootstrap/index.html" target="_blank">Flask-Bootstrap</a>.</p>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}
