{% extends "bootstrap/base.html" %}


{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">

    <title>Aditya Prasad - Projects</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
{% endblock %}


{% block body_attribs %}
    class="text-center"
{% endblock %}


{% block body %}
  <div id="shade-box">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column struc">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><a href="/" style="text-decoration: none">Aditya Prasad</a></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/experience/">Experience</a>
            <a class="nav-link active" href="/projects/">Projects</a>
            <a class="nav-link" href="/bio/">About Me</a>
          </nav>
        </div>
      </header>

      <main role="main" id="main-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                <div class="card-body">
                  <h5 class="card-title"><a href="http://pocketchef.me/" target="_blank">PocketChef</a></h5>
                  <p class="card-text">Internet database website with a RESTful API intended to make finding restaurants and related recipes/ingredients easy for users.</p>
                  <a href="https://github.com/Connorlb/IDBSite" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                <div class="card-body">
                  <h5 class="card-title">Personal Website</h5>
                  <p class="card-text">My personal website developed with Flask-Bootstrap. Source code available.</p>
                  <a href="https://github.com/AdityaPrasad1/adityaprasad.me" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                  <div class="card-body">
                    <h5 class="card-title">"Rap Concert" Programming Language</h5>
                    <p class="card-text">A language designed in Scala to resemble rap lyrics. Publicly Licensed by Apache License 2.0.</p>
                    <a href="https://github.com/crazeface/Rap-Concert" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                <div class="card-body">
                  <h5 class="card-title">Simple TCP Client</h5>
                  <p class="card-text">A basic client capable of TCP communication using custom protocols with servers running on UT machines.</p>
                  <a href="https://github.com/AdityaPrasad1/Simple-TCP-Client" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                <div class="card-body">
                  <h5 class="card-title">Simple UDP Client & Server</h5>
                  <p class="card-text">A basic client capable of UDP communication with a simple server that returns SSN/P.O. box information and logs transactions.</p>
                  <a href="https://github.com/AdityaPrasad1/Simple-UDP-Client-Server" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                <div class="card-body">
                  <h5 class="card-title">Android Dice App</h5>
                  <p class="card-text">A simple application written for Android, functions as a six-sided die for games.</p>
                  <a href="https://github.com/AdityaPrasad1/Android-Dice-App" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                <div class="card-body">
                  <h5 class="card-title">Expression Parser</h5>
                  <p class="card-text">A parser capable of evaluating expressions that use arithmetic, functions, logic, looping, and variables. Implemented in Prolog, a formal logic language.</p>
                  <a href="https://github.com/AdityaPrasad1/Expression-Parser" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                <div class="card-body">
                  <h5 class="card-title">Basic Arithmetic Compiler</h5>
                  <p class="card-text">A very simple compiler that produces Assembly code for postfix arithmetic expressions.</p>
                  <a href="https://github.com/AdityaPrasad1/Arithmetic-Compiler" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow card-trans">
                <div class="card-body">
                  <h5 class="card-title">Basic MapReduce</h5>
                  <p class="card-text">Basic implementations of the map and reduce functions that are used on hypothetical data sets.</p>
                  <a href="https://github.com/AdityaPrasad1/CS-314/tree/master/HW11" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Website designed by Aditya Prasad with <a href="https://pythonhosted.org/Flask-Bootstrap/index.html" target="_blank">Flask-Bootstrap</a>.</p>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}
